#playlists_pt::after {
	display: block;
	content: '';
	clear: both;
}

#playlists_pt .playlist_pt {
	width: 420px;
	display: inline-block;
	margin-right: 5px;
	background: #ddd;
	padding: 5px;
}

#playlists_pt img.remove {
	cursor: pointer;
}

#form_new_pl_pt label, .playlist_pt form label {
	display: inline-block;
	width: 200px;
	vertical-align: top;
}

#form_new_pl_pt input[type=text], #form_new_pl_pt textarea, #form_new_pl_pt select,
.playlist_pt input[type=text], .playlist_pt textarea, .playlist_pt select {
	width: 200px;
}

#pt_pl_info {
	width: 320px;
}

#pt_pl_info img {
	max-width: 100%;
}