.playlist_peertube_grid {
	width: 100%;
	position: relative;
}

.playlist_peertube_grid .video {
	width: 48%;
	display: inline-block;
	position: relative;
	margin-left: 2%;
	margin-top: 2%;
}

.playlist_peertube_grid .video .video_container {
	position: relative;
}

.playlist_peertube_grid .video h3 {
	height: 45px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.playlist_peertube_grid .video img.thumbnail {
	width: 100%;
	opacity: 0.5;
}

.playlist_peertube_grid .video span.video_description {
	position: absolute;
	bottom: 0px;
	left: 0px;
	padding: 10px;
	width: 100%;
	background-color: #000;
	color: #fff;
	font-size: 18px;
	height: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
}

.playlist_peertube_grid .video img.play_video {
	position: absolute;
	left: calc(50% - 32px);
	top: calc(50% - 32px);
	cursor: pointer;
	transition: all 0.1s linear;
	width: 64px;
	height: 64px;
}

.playlist_peertube_grid .video img.play_video:hover {
	transform: scale(1.2);
	opacity: 0.8;
}

.playlist_peertube_grid iframe {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 550px) {
	.playlist_peertube_grid .video {
		width: 100%;
	}
}