.playlist_peertube_player .video img.play_video {
	position: absolute;
	left: calc(50% - 32px);
	top: calc(50% - 32px);
	cursor: pointer;
	transition: all 0.1s linear;
	width: 64px;
	height: 64px;
}

.playlist_peertube_player .video img.play_video:hover {
	transform: scale(1.2);
	opacity: 0.8;
}
